.fourth{
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/image_4.png");
    background-size: 355px 362px;
    margin-left: 100px;
    margin-top: 85px;
}

.fourth__nav ul{
    display: grid;
    grid-template-columns: repeat(2, 155px);
    grid-gap: 37px 60px;
    margin-right: 100px;
    justify-content: flex-end;
}

.fourth__header{
    font-size: 18px;
    font-weight: 900;
    line-height: 23px;
    color: #222F33;
    margin-bottom: 4px;
}

.fourth__paragraph{
    width: 155px;
    font-size: 12px;
    line-height: 22px;
    color: #646D70;
}