.header{
    display: flex;
    align-items: center;
    padding-top: 35px;
    margin-left: 100px;
    width: 808px;
    justify-content: center;
}

.header__nav ul{
    display: flex;
    margin-left: 252px;
}
.header__nav-item{
    margin-right: 40px;
    font-size: 12px;
}
.header__contact{
    background-color: #FFFFFF;
    border-radius: 7px;
    border-style: none;
    font-size: 12px;
    font-weight: 500;
    color: #606B74;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90px;
    border: 0;
}
.logo{
    width: 135px;
}
