.hero{
    background-image: url("/images/background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 600px;
    background-color: #222F33;
}

.hero__inner{
    display: flex;
    padding-top: 65px;
    padding-left: 100px;
    width: 440px;
    color: #FFFFFF;
    padding-bottom: 233px;
    align-items: center;
}

.hero__paragraph{
    font-size: 16px;
    font-weight: 500;
    }

.hero__title{
    font-size: 30px;
    font-weight: 900;
    line-height: 38px;
}

.hero__inner img{
    position: absolute;
    width: 131px;
    right: 37%;
}