.third{
    background-color: #222F33;
    background-repeat: no-repeat;
}

.container_third{
    padding-top: 66px;
    padding-bottom: 78px;
    align-items: center;
}

.third__title{
    font-size: 30px;
    font-weight: 900;
    line-height: 38px;
    color: #fff;
    margin-left: 100px;
    margin-bottom: 11px;
}

.third__nav ul{
    margin-top: 11px;
    display: flex;
    margin-left: 60px;
}

.third__paragraph{
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    width: 380px;
    margin-right: 43px;
}