.hero{
    background-image: url("/images/background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #222F33;
}

.hero__inner{
    display: flex;
    padding-top: 66px;
    padding-left: 100px;
    width: 44%;
    color: #FFFFFF;
    padding-bottom: 233px;
    align-items: center;
}

.hero__text{
    margin-left: 15%;
}

.hero__paragraph{
    font-size: 16px;
    font-weight: 500;
}

.hero__title{
    font-size: 30px;
    font-weight: 900;
    line-height: 38px;
}

.hero__inner img{
    position: absolute;
    width: 13%;
    right: 27%;
}






@media screen and (max-width: 768px) {
    .hero {
        width: 100%;
        height: auto;
    }

    .hero__inner {
        flex-direction: column;
        padding: 5%;
        width: 90%;
        text-align: center;
    }

    .hero__inner img {
        position: static;
        width: 40%;
        margin-top: 20px;
        right: auto;
    }

    .hero__text{
        margin-left: 0;
    }

    .hero__paragraph {
        font-size: 14px;
    }

    .hero__title {
        font-size: 24px;
        line-height: 30px;
    }
}

@media screen and (min-width: 1500px) {
    .hero__inner{
        padding-bottom: 5%;
    }

    .hero__paragraph{
        font-size: 30px;
    }

    .hero__title{
        font-size: 40px;
        line-height: 1.3;
    }
}